<div id="blog_post_<%=blog_post.id%>">
  <br>
  <h2><%= link_to "#{blog_post.title}", blog_post %></h2>
  
  <% if current_admin %> 
    <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_blog_post_path(blog_post), remote: true %>
    <%= link_to '<i class="fa fa-times"></i>'.html_safe, blog_post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, remote: true %>
  <% end %>
  
  <br>
  
  <%= blog_post.content %>
  <br>

</div>
