<div id="project_<%=project.id%>">
  <%= link_to "#{project.name}", project_path(project)  %>
  <br>
  <%= project.description %>
  <br>
  <ul id="<%= project.name %>_features">
    <% project.features.each do |f| %>
      <li><%= f %> </li>
    <% end %>
  </ul>
</div>
