<%= link_to '<i class="fa fa-times fa-lg"></i>'.html_safe, project_cancel_edit_path, id: 'cancel_project', class: 'icon', remote: true %>
<%= simple_form_for @project, remote: true do |p| %>
  <ul class="errors">
    <%= p.error_notification %>
  </ul>

  <div class="form-inputs">
    <%= p.input :name, id: 'form_project_name', label: false, placeholder: 'Project name' %>
    <%= p.input :description, as: :text, id: 'form_project_description', label: false, placeholder: 'Project description' %>
    <%= p.input :url, id: 'form_project_url', label: false, placeholder: 'URL' %>
    <%= p.input :published, id: 'form_project_published', label: 'Publish project info?' %>
  </div>

  <div class="form-actions">
    <%= p.button :submit, class: 'button form_button' %>
  </div>
<% end %>
