<div id="project_<%=project.id%>">
  <%= link_to "#{project.name}", project_path(project)  %>
  <% if current_admin %>
    <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_project_path(project), remote: true %>
    <%= link_to '<i class="fa fa-times"></i>'.html_safe, project, method: :delete, data: { confirm: 'Are you sure you want to delete this project?' }, remote: true %>
  <% end %>
  <br>
  
  <%= project.description %>
  <br>
  <ul id="<%= project.name %>_features">
    <% project.features.each do |f| %>
      <li><%= f %> </li>
    <% end %>
  </ul>

  
</div>
