<div class="project" id="project_<%=project.id%>">
  <h2><%= link_to "#{project.name}", project_path(project)  %></h2>
  <p>
    <%= project.description %>
  </p>
  <div class="project_features">
    <h3>Features</h3>
    <ul id="<%=project.name%>_features">
      <% project.features.each do |f| %>
        <li><%= f %> </li>
      <% end %>
    </ul>
  </div>
</div>
