<p id="notice"><%= notice %></p>
<div id="project_form"></div>
<div class="project" id="projects">
  <% unless @project.draft? %>
    <%= link_to '<i class="fa fa-arrow-left fa-lg"></i>'.html_safe, projects_path, id: 'back_to_projects_link', class: 'icon' %>
  <% else %>
    <%= link_to '<i class="fa fa-arrow-left fa-lg"></i>'.html_safe, drafts_projects_path, id: 'back_to_projects_link', class: 'icon' %>
  <% end %>

  <% if current_admin %>
    <%= link_to '<i class="fa fa-times fa-lg"></i>'.html_safe, @project, method: :delete, data: { confirm: 'Are you sure you want to delete this project?' }, id: 'delete_project_icon', class: 'icon' %>
    <%= link_to '<i class="fa fa-pencil-square-o fa-lg"></i>'.html_safe, edit_project_path(@project), id: 'edit_project_icon', class: 'icon', remote: true %>
  <% end %>
  <div class="show_project">
    <h3>
      <% unless @project.url.length == 0 %>
        <div class="show_project_name">
	 <h2><%= link_to "#{@project.name}", "http://#{@project.url}", id: 'show_project_title_url'  %></h2>
	</div>
      <% else %>
        <%= @project.name %>
      <% end %>	
    </h3>
    <div class="show_project_description">
      <p><%= @project.description %></p>
    </div>
  </div>
</div>
