<div id="post_<%=post.id%>" class="post">
  <h2><%= link_to "#{post.title}", post, class: 'link' %></h2>
  
  <div class="show_post_image">
    <%= image_tag post.image_url(:medium).to_s %>
  </div>

  <div class="post_content">  
    <p> 
      <%= post.content.html_safe %>
    </p>
  </div>

  <div class="show_tags">
    <%= post.all_tags %>
  </div>
</div>
