<%= link_to '<i class="fa fa-times fa-lg"></i>'.html_safe, post_cancel_path, id: 'cancel_post', class: 'icon', remote: true %>
<%= simple_form_for @post, remote: true, multipart: true, authenticity_token: true do |f| %>
  <ul class="errors">
    <%= f.error_notification %>
  </ul>

  <div class="form-inputs">
    <%= f.input :title, id: 'post_form_title', label: false, placeholder: 'Title' %>
    <%= f.input :content, as: :text, id: 'post_form_content', label: false, placeholder: 'Content' %>
    <%= f.text_field :all_tags, placeholder: "Tags separated by commas", id: 'post_form_tags' %>
    <%= f.file_field :image, id: 'post_upload' %>
    <%= f.input :published, id: 'post_published', label: ' Publish post?' %> 
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'button form_button' %>
  </div>
<% end %>

