<%= link_to '<i class="fa fa-arrow-left"></i>'.html_safe, posts_path, id: 'back_to_blog_link' %>
<%= simple_form_for @post, remote: true, :validate => { :presence => true, :uniqueness => false } do |f| %>
  <ul class="errors">
  <%= f.error_notification %>
  </ul>

  <div class="form-inputs">
    <%= f.input :title, id: 'post_title', label: false, placeholder: 'Title', :validate => { :presence => true, :uniqueness => false } %>
    <%= f.input :content, as: :text, id: 'post_content', label: false, placeholder: 'Content', :validate => { :presence => true, :uniqueness => false } %>
    <%= f.input :published, id: 'post_published', label: 'Publish post?' %> 
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
