<p id="notice"><%= notice %></p>

<% if current_admin %>
  <%= link_to 'New Post', new_post_path, remote: true, id: 'new_post' %>
  <%= link_to 'Drafts', drafts_posts_path, id: 'post_drafts_link' %>
<% end %>

<div id='post_form'>
</div>

<div id="posts">
  <%= render partial: 'post', collection: @posts, as: :post %>
</div>

<div class="tags_list">
  <h4>Popular Tags</h4>
  <% tag_list(Tag.counts) do |tag| %>
    <%= link_to tag.name, tag_path(tag.name) %>
  <% end %>
</div>
