<% unless controller_name == 'pages' %>
  <%= link_to "Home", root_path %>
<% end %>
<div id="email">
  <span><%= @admin.email %></span>
</div>
<div id="phone_number">
  <span><%= @admin.phone_number %></span>
</div>
<h1><%= @admin.name %></h1>
<div id="github">
  <a target="_blank" href="http://<%= @admin.github %>"><%= @admin.github %></a>
</div>
<% unless controller_name == 'blog_posts' %>
  <%= link_to "Blog", blog_posts_path %>
<% end %>
