<div id="header">

  <div id="header_left">

    <% if controller_name == 'blog_posts' %>
      <%= link_to "Home", root_path %>
    <% end %>

  </div>

  <div id="name">
    <h1><%= @admin.name %></h1>
      <span id="email"><%= @admin.email %></span> 
      <a id="github" target="_blank" href="http://<%= @admin.github %>"><%= @admin.github %></a>
      <span id="phone_number"><%= @admin.phone_number %></span>
  </div>
  <div id="header_right">

    <div id="blog_link">
      <% if controller_name == 'pages' %>
        <%= link_to "Blog", blog_posts_path %>
      <% end %>
    </div>

  </div>
</div>
