<div id="header" class="col-1-1">

  <div id="header_left" class="col-1-4">
   <%= image_tag "StephenDiSalvio.jpg" %>

   <% if current_admin != nil && (controller_name == 'pages' || controller_name == 'blog_posts') %>
     <%= link_to "Log Out", destroy_admin_session_path, method: :delete, class: 'link' %>
   <% end %>

  </div>

  <div id="header_middle" class="col-2-4">
    <% if controller_name == 'pages'|| controller_name == 'projects' %>
      <h1><%= @admin.name %></h1>
      <span id="email"><%= @admin.email %></span> 
      <a id="github" class="link" target="_blank" href="http://<%= @admin.github %>"><%= @admin.github %></a>
    <% end %>

    <% if controller_name == 'posts' %>
      <h1><%= link_to "Blog", posts_path, class: 'link' %></h1>
    <% end %>

  </div>

  <div id="header_right" class="col-1-4">
    
    <% if controller_name == 'pages' %>
      <%= link_to "Blog", "/tags/coding", class: 'link' %>
    <% end %>
    <% if controller_name == 'posts' || controller_name == 'projects' %>
      <%= link_to "Home", root_path, class: 'link' %>
    <% end %>   
  </div>
</div>
