<!DOCTYPE html>
<html>
<head>
  <title>Stephen Di Salvio's Portfolio</title>
  <%= favicon_link_tag 'Diamond.ico'%>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Source+Code+Pro' %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Nunito:400,300' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
  <%= csrf_meta_tags %>
</head>
<body>
  <head>
    <% unless controller_name == 'sessions' %>
      <%= render 'layouts/header' %>
    <% end %>
  </head>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg %>
  <% end %>
<%= yield %>
</body>
</html>
