<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
  <%= csrf_meta_tags %>
</head>
<body>
  <head>
    <% if controller_name == 'pages' || controller_name == 'blog_posts' %>
      <%= render 'layouts/header' %>
    <% end %>
  </head>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg %>
  <% end %>
<%= yield %>
</body>
</html>
